Name-Vishal Gawade
UbId-vgawade

Problem 1: Define two synthetic vectors of data representing sales over 12 months for 2 items. Compare the two using lines graphs. (Discussion; Run the code multiple time and see randomness of the second set of data..)

In [1]:
png("Problem1.png")
sales1<-c(12,14,16,29,30,45,19,20,16, 19, 34, 20)
sales2<-rpois(12,34)  # random numbers, Poisson distribution, mean at 34, 12 numbers
par(bg="cornsilk")

plot(sales1, col="blue", type="o", ylim=c(0,100), xlab="Month", ylab="Sales" )
title(main="Sales by Month")

lines(sales2, type="o", pch=22, lty=2, col="red")
grid(nx=NA, ny=NULL)
legend("topright", inset=.05, c("Sales1","Sales2"), fill=c("blue","red"), horiz=TRUE)

dev.off()

pdf
  2

Problem 2: The sales data is available in a table in a text file. Read it in and draw a side-by-side histogram to compare the performance. (Discussion)

In [2]:
png("Problem2.png")
sales<-read.delim("salesdata.txt", header=T)
sales  # to verify that data has been read
barplot(as.matrix(sales), main="Sales Data", ylab= "Total",beside=T, col=rainbow(5))
dev.off()

   Sales1 Sales2
1  34     45
2  23     23
3  12     56
4  29     34
5  34     45
6  34     56
7  12     89
8  80     36
9  80     44
10 56     66
11 55     60
12 45     23

pdf
  2

Problem 3: Use boxplot to compare the two sales data. (Discussion: How will you interpret the graph visualization?)

In [3]:
png("Problem3.png")
fn<-boxplot(sales,col=c("orange","green"))$stats

text(1.45, fn[3,2], paste("Median =", fn[3,2]), adj=0, cex=.7)
text(0.45, fn[3,1],paste("Median =", fn[3,1]), adj=0, cex=.7)
grid(nx=NA, ny=NULL)
dev.off()

pdf
  2

Problem 4: Download csv data from the web and analyze using the methods above. Download the historical prices for any two or more sticks of your choice and compare. We will do it for Apple (AAPL) and Facebook (FB) for one year.
	We will download the csv file by specifying the URL string in the file reader in R.
	Alternatively you can download using the data import tab of the right top quadrant of R Studio.

In [4]:
png("Problem4.png")
fb1<-read.csv("FB.csv")
aapl1<-read.csv("AAPL.csv")
par(bg="cornsilk")
plot(aapl1$Adj.Close, col="blue", type="o", ylim=c(150,200), xlab="Days", ylab="Price" )
lines(fb1$Adj.Close, type="o", pch=22, lty=2, col="red")
legend("topright", inset=.05, c("Apple","Facebook"), fill=c("blue","red"), horiz=TRUE)
hist(aapl1$Adj.Close, col=rainbow(8))
dev.off()

pdf
  2

Problem 5: Data sets available with R:  R community has created a lot of data for others to use. Examine the data sets already available with R. data(), attach(),detach(), head(), summary()

In [5]:
#data()
#Observe the data sets available for explorations.
png("Problem5.png")
library(ggplot2)
attach(mpg)
head(mpg)
summary(mpg)
#after analysis remove the data from the memory
detach(mpg)

#Also explore newer data sets in 
#library (help=datasets)
library(datasets)
head(uspop)
plot(uspop)

data(Formaldehyde)
attach(Formaldehyde)
head(Formaldehyde)
summary(Formaldehyde)

detach(Formaldehyde)

# ##
# library (help=datasets)
# library(rivers)
# head(rivers)
# plot(rivers)

data(esoph)
attach(esoph)
head(esoph)
summary(esoph)
detach(esoph)
dev.off()

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

 manufacturer          model               displ            year
 Length:234         Length:234         Min.   :1.600   Min.   :1999
 Class :character   Class :character   1st Qu.:2.400   1st Qu.:1999
 Mode  :character   Mode  :character   Median :3.300   Median :2004
                                       Mean   :3.472   Mean   :2004
                                       3rd Qu.:4.600   3rd Qu.:2008
                                       Max.   :7.000   Max.   :2008
      cyl           trans               drv                 cty
 Min.   :4.000   Length:234         Length:234         Min.   : 9.00
 1st Qu.:4.000   Class :character   Class :character   1st Qu.:14.00
 Median :6.000   Mode  :character   Mode  :character   Median :17.00
 Mean   :5.889                                         Mean   :16.86
 3rd Qu.:8.000                                         3rd Qu.:19.00
 Max.   :8.000                                         Max.   :35.00
      hwy             fl               class
 Min.   :12.00   Length:234         Length:234
 1st Qu.:18.00   Class :character   Class :character
 Median :24.00   Mode  :character   Mode  :character
 Mean   :23.44
 3rd Qu.:27.00
 Max.   :44.00

[1]  3.93  5.31  7.24  9.64 12.90 17.10

  carb optden
1 0.1  0.086
2 0.3  0.269
3 0.5  0.446
4 0.6  0.538
5 0.7  0.626
6 0.9  0.782

      carb            optden
 Min.   :0.1000   Min.   :0.0860
 1st Qu.:0.3500   1st Qu.:0.3132
 Median :0.5500   Median :0.4920
 Mean   :0.5167   Mean   :0.4578
 3rd Qu.:0.6750   3rd Qu.:0.6040
 Max.   :0.9000   Max.   :0.7820

  agegp alcgp     tobgp    ncases ncontrols
1 25-34 0-39g/day 0-9g/day 0      40
2 25-34 0-39g/day 10-19    0      10
3 25-34 0-39g/day 20-29    0       6
4 25-34 0-39g/day 30+      0       5
5 25-34 40-79     0-9g/day 0      27
6 25-34 40-79     10-19    0       7

   agegp          alcgp         tobgp        ncases         ncontrols
 25-34:15   0-39g/day:23   0-9g/day:24   Min.   : 0.000   Min.   : 1.00
 35-44:15   40-79    :23   10-19   :24   1st Qu.: 0.000   1st Qu.: 3.00
 45-54:16   80-119   :21   20-29   :20   Median : 1.000   Median : 6.00
 55-64:16   120+     :21   30+     :20   Mean   : 2.273   Mean   :11.08
 65-74:15                                3rd Qu.: 4.000   3rd Qu.:14.00
 75+  :11                                Max.   :17.000   Max.   :60.00

pdf
  2

Problem 6: Accessing external APIs: eg. Google map lat-long API: “map” command. Get API key from Google Cloud.
The idea here is to plot the results of analysis on a map: geographical or otherwise. List a collection of cities you have visited and plot it on a map.

In [6]:
png("Problem6.png")
library("ggmap")
library("maptools")
library(maps)
register_google(key = "AIzaSyBcudY08pJqUuQUuESkxY0nCL3MiQ0tQzI") 
visited <- c("SFO", "Chennai", "London", "Melbourne", "Lima,Peru", "Johannesbury, SA")
ll.visited <- geocode(visited)
visit.x <- ll.visited$lon
visit.y <- ll.visited$lat
map("world", fill=TRUE, col="white", bg="lightblue", ylim=c(-60, 90), mar=c(0,0,0,0))
points(visit.x,visit.y, col="red", pch=36)
#Here is another example using the map of The United States.
dev.off()

png("Problem6a.png")
library("ggmap")
library("maptools")
library(maps)
visited <- c("SFO", "New York", "Buffalo", "Dallas, TX")
ll.visited <- geocode(visited)
visit.x <- ll.visited$lon
visit.y <- ll.visited$lat
map("state", fill=TRUE, col=rainbow(50), bg="lightblue", mar=c(0,0,0,0),ylim=c(-20, 110),xlim=c(-160,-20))
points(visit.x,visit.y, col="yellow", pch=36)
dev.off()

Google's Terms of Service: https://cloud.google.com/maps-platform/terms/.
Please cite ggmap if you use it! See citation("ggmap") for details.
Loading required package: sp
Checking rgeos availability: FALSE
 	Note: when rgeos is not available, polygon geometry 	computations in maptools depend on gpclib,
 	which has a restricted licence. It is disabled by default;
 	to enable gpclib, type gpclibPermit()
Source : https://maps.googleapis.com/maps/api/geocode/json?address=SFO&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=Chennai&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=London&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=Melbourne&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=Lima,Peru&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=Johannesbury,+SA&key=xxx

pdf
  2

Source : https://maps.googleapis.com/maps/api/geocode/json?address=SFO&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=New+York&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=Buffalo&key=xxx
Source : https://maps.googleapis.com/maps/api/geocode/json?address=Dallas,+TX&key=xxx

pdf
  2

Problem 7: we will conclude the “base” graphics capabilities of Rpackage with a very old but popular data set available in R: mtcars (motor trends car package). Attach and explore mtcars. Draw scatter plots of the dependent variables (i) 5 variables (ii) 4 variables.

In [7]:
#Repeat the plot with some other rich data set from R package.
png("Problem7.png")
attach(mtcars)
head(mtcars)
plot(mtcars[c(1,3,4,5,6)], main="MTCARS Data")
plot(mtcars[c(1,3,4,6)], main="MTCARS Data")
plot(mtcars[c(1,3,4,6)], col=rainbow(5),main="MTCARS Data")


detach(mtcars)

library(lattice)
splom(rock[c(1,2,3,4)], main="ROCK Data")
dev.off()

The following object is masked from package:ggplot2:

    mpg

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

pdf
  2

Problem 8: Working with ggplot2 package (), loading a package, installing package. Object-oriented and incremental additions (extensibility) are special features of this package. We can layer the commands to a base plot.

In [8]:
png("Problem8.png")
library(ggplot2)
ggplot(mtcars, aes(x=mpg, y=disp)) + geom_point()
dev.off()

pdf
  2